<table border="1">
    <tr>
        <th>Recipient Name</th>
        <th>Email</th>
        <th>Recipient Address</th>
        <th>Has Mailed</th>
        <th>Photo URL</th>
        <th>Answers</th>
    </tr>
    <% @valid_users.each do |user| %>
    <tr>
        <td><%= user.recipient_name %></td>
        <td><%= user.email %></td>
        <td><%= user.recipient_address %></td>
        <td><%= user.has_mailed %></td>
        <td><%= format_url(user.photo.url)%></td>
        <td><%= format_answers(user.answers)%></td>
    </tr>
    <% end %>
</table>
